$yellow: #f5dd16;
$dark-grey: #7c7c7c;
$light-grey: #bebebe;
$red: #ee4525;

.navbar {
  background: $dark-grey;

  .navbar-brand {
    color: $yellow !important;
  }
}

.tasks_list {
  margin-top: 40px;

  .title {
    font-size: 22px;
    color: $dark-grey;
    font-weight: 600;
    margin-bottom: 4px;
  }

  .create_task_btn {
    background: $dark-grey;
    border-color: $dark-grey;
    font-weight: 500;
    margin-top: 10px;
  }

  .card {
    background: $dark-grey;

    table {
      tbody > tr:nth-child(1) > td {
        border-top: 0;
      }

      color: #fff;
      font-weight: 500;
      margin-bottom: 5px;

      .check {
        color: $yellow;
        font-size: 15px;
      }

      .delete {
        color: #fff;
      }
    }
  }
}
